@using CST326.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ed's PC Parts</title>
    @Styles.Render("~/Content/css")
    <link href="/Content/Custom/custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top: 0;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label class="navbar-brand" style="width: 200px;">Ed's PC Parts</label>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "StoreFront", "Product")
                        <span class="sr-only">(current)</span>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    @{ string message = "";}
                    @if (Session["User"] != null)
                    {
                        UserModel user = (UserModel)Session["User"];
                        message = "Hello " + user.FirstName;
                    }
                    else
                    {
                        message = "Hello, sign in";
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@message <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (Session["User"] == null)
                            {
                                <li>@Html.ActionLink("Login", "Login", "User")</li>
                                <li>@Html.ActionLink("Sign Up", "SignUp", "User")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Orders", "ViewOrders", "User")</li>
                                <li>@Html.ActionLink("Shopping Cart", "ShoppingCart", "ShoppingCart")</li>
                                <li>@Html.ActionLink("Reset Password", "ResetPassword", "User")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sign Out", "SignOut", "User")</li>
                            }
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="footer">
            <hr />
            <p>&copy; @DateTime.Now.Year - Ed's PC Parts</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
