@model CST326.Models.ProductModel
@{
    ViewBag.Title = "ViewProduct";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<style>
    .productDiv {
        width: 400px;
        height: 400px;
        display: inline-block;
        margin: 5%;
    }
    .title {
        font-size: 36px;
        max-width: 100%;
        text-wrap: normal;
        margin-bottom: 25px;
    }
    .description {
        font-size: 18px;
        max-width: 100%;
        text-wrap: none;
        margin-bottom: 25px;
    }
    .price {
        font-size: 24px;
        margin-bottom: 25px;
    }
</style>

<div class="container" style="margin-left:20%; max-width: 40%;" >
    <div>
        <img src="@Model.ProductImageLocation" style="width: 450px; height: 250px; " />

        <div>
            <p class="title">@Model.Name</p>
            <p class="description">@Model.Description</p>
            <p class="price">$@Model.Price</p>
            @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.HiddenFor(model => model.ProductId)
                    @Html.LabelFor(model => model.Quantity)
                    @Html.EditorFor(model => model.Quantity)
                </div>

                <div class="form-group" style="margin-top: 25px;">
                    <input type="submit" value="Add to Cart" class="btn btn-primary" />
                </div>
                <div>
                    <p style="color:forestgreen;">  @TempData["isAdded"] </p>
                </div>
            }
        </div>
    </div>
</div>