@model CST326.Models.EmployeeModel
@{
    ViewBag.Title = "NewEmployee";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<script>
    function ValidatePasswordMatch() {
        var passwordlabel = document.getElementById("PasswordLabel");
        var passwordValidatorLabel = document.getElementById("PasswordValidatorLabel");

        if (passwordlabel.value != passwordValidatorLabel.value) {
            document.getElementById("PasswordMatchErrorMessage").innerHTML = "Password do not match!";
            document.getElementById("SubmitButton").disabled = true;
        } else {
            document.getElementById("PasswordMatchErrorMessage").innerHTML = null;
            document.getElementById("SubmitButton").disabled = false;
        }
    }
</script>


<div>
    <div class="formcenter">
        <h2>Add New Team Member</h2>
        @using (Html.BeginForm("AddEmployee", "StoreRep", FormMethod.Post))
        {
            <div class="form-group">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true" id="PasswordMatchErrorMessage"></span>
            </div>
            <div class="form-group">
                @Html.Label("First Name", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.Label("Last Name", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.Label("Email", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.Label("Phone Number", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                @Html.Label("Password", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", id = "PasswordLabel", onkeyup = "ValidatePasswordMatch()" })
            </div>
            <div class="form-group">
                @Html.Label("Password", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <input type="password" onkeyup="ValidatePasswordMatch()" id="PasswordValidatorLabel" class="form-control" />
            </div>
            <div class="form-group">
                @Html.Label("Admin", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                <input type="radio" class="form-control" />
            </div>
            <div class="col-md-offset-3 form-group">
                <button type="submit" class="btn btn-primary" id="SubmitButton">Add Employee</button>
            </div>
        }
    </div>
    </div>